node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
dist-electron/

out/

build/
release/
bin/
*.exe
*.dmg
*.pkg
*.deb
*.rpm
*.app

.electron-builder.env
.env
.env.local
.env.*.local

.cache/
.parcel-cache/
.eslintcache
.stylelintcache

.DS_Store
Thumbs.db

.vs/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp